/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2018, 10:26:55 AM
    Author     : Ndahigeze
*/
#row2{
    display: none;
}
#sid{
    height: 20px;
}
/*#rowfaculty{
 height: 400px;
 overflow: auto;
}
#department{
   height: 400px;
   overflow: auto; 
}*/
.sidelinks a{
    text-decoration: none;
    display: inline;
    color: silver;
}
.sidelinks ul{
    display: inline;
    margin-left:10%; 
}
.sidelinks ul li{
     padding-top: 5px;
     border-bottom: 1px solid slategrey;
     padding-bottom: 5px;
}
#sideBar{
    height: 100vh;
    background-color: #2E2E2E;
}
#container{
    position: relative;
    top:80px;
}

